DB_PASSWORD=your_neon_db_password
DB_URL=jdbc:postgresql://ep-xxxx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

JWT_SECRET=generate_with_openssl_rand_base64_64
JWT_EXPIRY_MS=900000
JWT_REFRESH_EXPIRY_MS=604800000

# --- Broker & Cache Config ---
RABBITMQ_USERNAME=carecircle
RABBITMQ_PASSWORD=your_rabbitmq_password

REDIS_PASSWORD=your_redis_password
SPRING_DATA_REDIS_PASSWORD=your_redis_password
